

[defaults]
host_key_checking = no

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes

ansible-example ansible_connection=local

- hosts: ansible-example
  tasks:
 - name: Create Dir
 file:
    path: /home/vagrant/anstest
    state: directory